@{
    ViewData["Title"] = "Garritas Felices Cba";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido a Garritas Felices</h1>
    <img src="~/images/WhatsApp Image 2023-11-02 at 15.16.55.jpeg" alt="Logo" width="300">
    <h3 class="display-8">No puedes comprar amor, pero puedes adoptarlo..</h3>
    <h3 class="display-8">Gatitos en adopción responsable</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
