<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-yellow border-bottom box-shadow mb-3">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fut.Adoptados
                        </button>
                        <ul class="dropdown-menu" style="">
                           
                            <li><a class="dropdown-item" asp-area="" asp-controller="FutAdoptados" asp-action="Index">Fut.Adoptados</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Generos" asp-action="Index">Género</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Vacunas" asp-action="Index">Vacunas</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Edades" asp-action="Index">Edades</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Enfermedades" asp-action="Index">Enfermedades</a></li>
                            <li>----------------------</li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SignOut">Salir</a></li>
                        </ul>
                    </div>

                   
                    &nbsp;

                 
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fut.Adoptantes/Socios
                        </button>
                        <ul class="dropdown-menu" style="">
                            
                            <li><a class="dropdown-item" asp-area="" asp-controller="FutAdoptantes" asp-action="Index">Fut.Adoptantes</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="MaloAdoptantes" asp-action="Index">Malo Adoptantes</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Socios" asp-action="Index">Socios</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
